  /* MAIN PAGE */
  .dashboard-page {
      display: flex;
      flex-direction: column;
      background-color: var(--soft-black);
      height: 100vh;
      overflow: hidden;
  }

  /* NAVBAR */
  .nav-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 2rem;
      background-color: #000;
      color: white;
      gap: 1rem;
      flex-wrap: wrap;
  }

  .nav-bar-title {
      display: flex;
      align-items: center;
      gap: 1rem;
  }

  .nav-bar-profile {
      display: flex;
      align-items: center;
      gap: 1rem;
  }

  .nav-bar-profile img {
      border-radius: 50%;
      width: 40px;
      height: 40px;
  }

  .nav-bar-logout {
      color: white;
      background-color: transparent;
      border: none;
      cursor: pointer;
  }

  .nav-bar-logout:hover {
      color: var(--text-gray);
  }


  /* SEARCH */
  .dashboard-search-section {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0;
      flex-wrap: wrap;
  }

  .dashboard-search-input {
      background-color: white;
      border-radius: 0px 0px 0px 0px;
      padding: 0.75rem 1rem;
      border: solid 1px gray;
      width: 50%;
      min-width: 200px;
  }

  .dashboard-search-input:focus {
      outline: none;
  }

  .round-corner {
      border-radius: 50px 0px 0px 50px;
  }

  .dashboard-search-home-button {
      color: white;
      background-color: var(--spotify-green);
      border: var(--spotify-green);
      padding: 0.37rem 1rem;
      border-radius: 50px 0px 0px 50px;
      cursor: pointer;
  }

  .dashboard-search-home-button:hover {
      background-color: var(--hover-spotify-green);
  }

  .dashboard-search-button {
      background-color: var(--spotify-green);
      border: 1px solid var(--spotify-green);
      color: white;
      padding: 0.37rem 1rem;
      border-radius: 0px 50px 50px 0px;
      cursor: pointer;
  }

  .dashboard-search-button:hover {
      background-color: var(--hover-spotify-green);
  }

  .dashboard-search-input,
  .dashboard-search-home-button,
  .dashboard-search-button {
      height: 2.5rem;
      box-sizing: border-box;
  }

  /* MAIN CONTENT */
  .dashboard-content {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      gap: 1rem;
      padding: 1rem;
      box-sizing: border-box;
      overflow: hidden;
  }

  .dashboard-first-section {
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      gap: 1rem;
      overflow: hidden;
  }

  .dashboard-second-section {
      width: 30%;
      height: 100%;
      overflow: hidden;
  }

  /* SECTIONS */
  .dashboard-ta-section {
      width: 100%;
      height: 55%;
      padding: 1rem;
      box-sizing: border-box;
      overflow: hidden;
  }

  .dashboard-albums-section {
      width: 100%;
      height: 45%;
      padding: 1rem;
      box-sizing: border-box;
      overflow: hidden;
  }

  .dashboard-ts-section {
      width: 100%;
      height: 100%;
      padding: 1rem;
      box-sizing: border-box;
      overflow: hidden;
  }



  .dashboard-section-title {
      color: var(--text-white);
      margin-bottom: 1rem;
      border-bottom: 1px solid var(--spotify-green);
      padding-bottom: 0.5rem;
  }

  /* GRIDS */
  .dashboard-ta-grid {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      padding-bottom: 0.5rem;
      height: 100%;
  }

  .dashboard-albums-grid {
      display: flex;
      gap: 1rem;
      overflow-x: auto;
      height: calc(100% - 3rem);
      padding-bottom: 0.5rem;
  }

  .dashboard-ts-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 2fr));
      gap: 1rem;
      overflow-y: auto;
      height: calc(100% - 3rem);
      color: white;
      padding-right: 0.5rem;
      animation: fadeIn 0.4s ease-in;
  }


  /* RESPONSIVE DESIGN */
  @media (max-width: 900px) {

    .dashboard-page {
        height: auto;
    }
    .nav-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1rem;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .nav-bar-title,
    .nav-bar-profile img {
        display: none;
    }

    .dashboard-search-section {
        flex: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
    }

    .dashboard-search-input,
    .dashboard-search-home-button,
    .dashboard-search-button {
        height: 2.5rem;
    }

    .dashboard-search-input {
        flex: 1;
        width: auto;
        min-width: 0;
    }

    .nav-bar-profile {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .dashboard-content {
        flex-direction: column;
        overflow: auto;
        height: auto;
        overflow-y: visible;
    }

    .dashboard-first-section,
    .dashboard-second-section,
    .dashboard-ta-section,
    .dashboard-albums-section,
    .dashboard-ts-section {
        height: auto;
        width: 100%;
    }

    .dashboard-ta-section {
        height: auto;
    }

    .dashboard-ta-grid {
        display: grid !important;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        overflow: auto;
        height: auto;
    }

    .dashboard-albums-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 1rem;
        overflow: hidden;
        height: auto;
    }

    .dashboard-ts-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}


  @keyframes fadeIn {
      from {
          opacity: 0;
          transform: translateY(20px);
      }

      to {
          opacity: 1;
          transform: translateY(0);
      }
  }